<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Factory Frontend Testing">
        <classes>
            <class name="MainPageContactExpertButtonTest"/>
            <class name="MainPageSwitchLanguageTest"/>
            <class name="NavigateToJobsTest"/>
            <class name="TalentLyftHoverEffectsTest"/>
            <class name="TalentLyftActiveJobsSearchTest"/>
        </classes>
    </test>
</suite>
